<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            IonSpotify
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-button (click)="goStart()">
        Go up
    </button>

    <div (click)="goUp()">
        <h2>..</h2>
    </div>

    <div *ngFor="let item of items">

        <div *ngIf="item.isDirectory" (click)="goDown(item)">
            <h2>Directory: {{item.name}}</h2>
        </div>

        <div *ngIf="item.isFile">
            <h2>File: {{item.name}}</h2>
        </div>

    </div>

    <button ion-button (click)="selectDirectory()">
        Select directory
    </button>

    <p *ngIf="selectedDirectory != undefined">Selected Directory: {{selectedDirectory}}</p>

</ion-content>